/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';
@import 'font-awesome/css/font-awesome.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background: linear-gradient(#FDC830, #F37335);
}

html, body {
    font-family: 'Roboto', sans-serif;
}

.navbar-item img {
    max-height: 5rem;
}

.card-container {
    text-align: center;
}